@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
body {
 display: flex;
 flex-direction: column;
 text-align: center;
}
#wrapper {
  max-width: 1080px;
  margin: 0 auto;
}
p {
  font-size: 1.5rem;
}
th {
  width: 100px;
  text-align: left;
}
input {
    display: inline-block;
    width: 150px;
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 1.5rem;
}